@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "share tech mono", monospace;
  scroll-behavior: smooth;
  background: rgba(255, 235, 235, 0.794);
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: rgb(7, 7, 7);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: rgb(211, 9, 130);
}
.call-to-action {
  display: inline-block;
  padding: 10px 30px;
  color: rgb(245, 214, 232);
  background-color: transparent;
  border: 2px solid rgba(227, 37, 150, 1);
  border-radius: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.call-to-action:hover {
  color: white;
  background-color: rgba(227, 37, 150, 1);
}
.brand h1{
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}
.brand h1 span {
  color: rgb(211, 9, 130);
}
/*header section*/
#header{
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
#header .header{
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: .3s ease background-color;
}
#header .nav-bar{
   width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .nav-list ul{
  width: 100vw;
  height: 100vh;
  background-color: rgb(194, 182, 182);
  list-style: none;
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  transition: .5s ease-in left;
}
#header .nav-list ul.active{
  left: 0%;
}
#header .nav-list ul a{
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list ul a::after{
content: attr(data-after);
color: rgba(240, 248, 255, 0.021);
font-size: 15rem;
letter-spacing: 50px;
position: absolute;
top: 50%;
left: 50%;
z-index: -1;
transform: translate(-50%, -50%) scale(0);
transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
  transform: translate(-50%, -50%) scale(0);
  letter-spacing: initial;
}
#header .nav-list ul li:hover a{
  color: rgb(211, 9, 130);
}
#header .burger{
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid rgb(59, 59, 59);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(.8);
  margin-right: 20px;
}
#header .burger{
content: '';
height: 60px;
width: 60px;
border-radius: 50%;
position: absolute;
border: 3px solid #fff;
animation: pulsing-burger 1s ease infinite;
}
@keyframes pulsing-burger{
0%{
  opacity: 1;
  transform: scale(1);
}
100%{
  opacity: 0;
  transform: scale(1.2);
}

}
#header .burger .bar{
height: 2px;
width: 30px;
position: relative;
background-color: rgb(77, 75, 75);
z-index: -1;
}
#header .burger .bar::after,
#header .burger .bar::before{
  content: '';
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: .3s ease;
  transition-property: top, bottom;
}
#header .burger .bar::after{
  top: 8px;
}
#header .burger .bar::before{
  bottom: 8px;
}

#header .burger.active .bar::before{
bottom: 0;
}
#header .burger.active .bar::after{
  top: 0;
  }
  
/*hero section*/
#hero {
  background-image: url(https://images.unsplash.com/photo-1635511274527-2e13db6665cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjN8MTU2NTc2fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(150, 113, 113, 0.609);
  opacity: 0.7;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  font-weight: 700;
  position: relative;
  color: transparent;
  animation: hero-text 0.5s ease forwards;
  animation-delay: 1s;
}
#hero h1:nth-child(1) {
  animation-delay: 0.5s;
}
#hero h1:nth-child(2) {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) {
  animation: hero-my-name 0.5 ease forwards;
  animation-delay: 2.5s;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgba(227, 37, 150, 1);
  opacity: 0.7;
  z-index: -1;
  animation: hero-text 2s ease;
  animation-delay: 0.5s;
}
@keyframes hero-text {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes hero-text {
  100% {
    /*color: rgb(3, 155, 155);*/
    color: rgba(227, 37, 150, 1);
  }
}
@keyframes hero-my-name {
  100% {
    color: rgb(245, 214, 232);
  }
}

/*Services section*/
#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .service-top  {
max-width: 500px;
margin: 0 auto;
}
  
#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#services .service-item {
  display: flex;
  flex-basis: 80%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 5%;
  padding: 30px;
  border-radius: 10px;
  background-image: url(https://images.unsplash.com/photo-1421757295538-9c80958e75b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8N3w4NTYwNzl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#services .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.9;
  z-index: -1;
}
#services .service-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#services .service-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#services .service-item p {
  color: white;
  text-align: left;
}

/*Project section*/
#projects .projects {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}
#projects .projects-header h1 {
  margin-bottom: 50px;
}
#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .project-info {
  padding: 30px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-basis: 50%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: #fff;
}
#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
  
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}
#projects .project-info p {
  color: #fff;
}

#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.6;
}
#projects .project-img img {
  transition: 0.3 ease transform;
}

#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}
/*Start of about section*/

#about .about {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
#about .col-left {
  width: 250px;
  height: 360px;
}
#about .col-right {
  width: 100%;
}
#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
#about .col-right p {
  margin-bottom: 20px;
}
#about .col-right .call-to-action {
  color: #333;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}
#about .col-left .about-img {
  position: relative;
  width: 130%;
  height: 100%;
  border: 5px solid #fff;
}

#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}
/*contact section*/
#contact .contact {
  padding: 100px 0;
  min-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .contact-items {
  width: 800px;
  height: 300px;
}

#contact .contact-item {
  width: 100%;
  padding: 50px;
  margin: 0 0 70px 0;
  text-align: center;
  border: 5px 4px 5px 2px rgba(28,110,164,0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 5px 0px #7040402c;
  transition: .3s ease box-shadow;
}
#contact .contact-items:hover {
box-shadow: 11px 0px 12px 20px rgba(83, 51, 51, 0.37);

  /*box-shadow: 0px 10px 10px #7040402c;*/
}

#contact .icon {
  width: 70px;
  margin-bottom: 10px;
}
#contact .contact-info h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
#contact .contact-info h2 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
}
/*footer-Section*/

#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer h2 {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item a {
  color: rgba(175, 172, 172, 0.883);
  border: 5px solid #fff;
  border-radius: 30px 40px;
  transition: .1s ease transform;
  
}
#footer .social-item:hover a {
  transform: scale(1.1);
}
#footer p {
  color: seashell;
  font-size: 1.3rem;
}

/*Media query*/
/*Mobile only screen and (min-width: 480px)*/

/*Tablet only screen and (min-width: 768px)*/ 

/*Desktop only screen and (min-width: 992px)*/

/*Huge only screen and (min-width: 1280px) */





/*Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
  .call-to-action {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  .section-title h1 {
    font-size: 6rem;
  }
  /*Hero section*/
  #hero h1 {
    font-size: 7rem;
  }
  /*service section*/
  .services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /*ptojects*/

  #projects .project-item{
    flex-direction: row;
}
#projects .project-item:nth-child(even){
  flex-direction: row-reverse;
}
#projects .project-item{
  height: 400px;
  margin: 0;
  width: 100%;
  border-radius: 0;
}
#projects .all-projects .project-info{
  height: 100%;
  
}
#projects .all-projects .project-img{
height: 100%;
}
/*About section*/
#about .about{
  flex-direction: row;
}
#about .col-left{
  width: 600px;
  height: 400px;
  padding-left: 60px;
}
#about .about .col-left .about-img::after{
  left: -45px;
  top: 34px;
  height: 98%;
  width: 98%;
  border: 10px solid crimson ;
}
#about .col-right{
  text-align: left;
  padding: 30px;
}
#about .col-right h1{
  text-align: left;
}
/*contact section*/

#contact .contact{
flex-direction: column;
padding: 100px 0;
align-items: center;
justify-content: center;
min-width: 20vh;
}
#contact .contact-items{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 0;
}
#contact .contact-item {
  margin: 20px;
  flex-direction: row;
}
#contact .contact-item .icon {
  height: 70px;
  width: 70px;
}

#contact .contact-item .icon img{
  object-fit: contain;
}
#contact .contact-item .contact-info{
  width: 100%;
  text-align: left;
  padding-left: 20px;
}
}
 /*Media query for desktop*/
 @media (min-width: 992px) and (max-width: 1280px){
  #header .burger{
    display: none;
  }
  #header .nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li{
    display: inline-block;
  }
  
  #header .nav-list ul a::after{
    display: none;
  }
  #header .nav-list ul li a{
    font-size: 1.8rem;
  }


#services .service-bottom .service-item {
  flex-basis: 22%;
  margin: 1.5%;
}

 }
